channels==4.0.0
Django==4.1.4
djangorestframework==3.14.0
django-allauth==0.51.0
django-guest-user==0.5.2
djangorestframework==3.14.0
pylint-django==2.5.3
daphne==4.0.0
djoser==2.1.0
stripe==5.0.0
django-guardian==2.4.0
dj-rest-auth==2.2.6