wheel==0.40.0
django_channels==0.7.0
Django==4.2.3
djangorestframework==3.14.0
pylint-django==2.5.3
django-allauth==0.54.0
django-guest-user==0.5.4
django_guardian==2.4.0
daphne==4.0.0
dj-rest-auth==4.0.1