body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}



/* TOOLBAR */


#controlCenter {
    text-align: center;
    margin: 1rem 0 0 1rem; 
    position: absolute;
    background-color: rgb(197, 177, 232);
    padding: 10px;
    border-radius: 1rem;
}

.container{
    background-color: rgba(42, 42, 42, 0.422);
    padding: 7px 0;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    z-index: 1000;
}

.btn {
    margin: 0 10px;
}

.selected {
    background: rgba(0, 0, 0, .5);
}

.color-schemes {
    text-align: left;
}


/* CANVAS */

#canvas2{
    position: absolute;
    top: 0;
    left: 0;
}

#canvas1{
    position: absolute;
    top: -1920px;
    left: -502px;
    cursor: none;
}




/* EVENT LISTENER classes */

.circleCursor {
    /* visibility: visible; */
    cursor: auto;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    transform: translate(-50%, -50%);
}

.crosshair {
    cursor: crosshair;
}

.grab {
    cursor: move;
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}