<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% for message in messages %}
		<p>{{message}}</p>
		{% endfor %}
		<form action="{% url 'board_settings' board.slug %}" method="post">
			{% csrf_token %} {{change_user_permission_form.as_p}}
			<input type="submit" value="change" />
		</form>
		<form action="{% url 'board_settings' board.slug %}" method="post">
			{% csrf_token %} {{invite_form.as_p}}
			<input type="submit" value="publish" />
		</form>

		<a href="{% url 'board' board.slug %}">board</a>
	</body>
</html>
